<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6 text-center">
            <br><br><br><br>
            <%= link_to("大学の方はこちら","/colleges/sign_up", class: "btn btn-primary") %>
            
            <%= link_to("企業の方はこちら","/companies/sign_up", class: "btn btn-primary") %>
        </div>
    </div>
</div>