<div class="container">
    <p class="text-center">
        
    </p>
    
    <h1 class="text-center"><%= @company.name %>株式会社</h1>
    <%= link_to "設定"%>
    <p><%= @company.description %></p>
    <%= render 'relationship/follow_button',company: @company %>
</div>