<div class="container">
    <p class="text-center">
        <%= image_tag avater_url(@company),class: 'text-center'%>
    </p>
    
    <h1 class="text-center"><%= @company.name %>株式会社</h1>
    <%= link_to "設定"%>
    <p><%= @company.description %></p>
</div>