<div class="container">
    <p class="text-center">
          <%= image_tag college_avater_url(@college),class: 'text-center'%>
    </p>
    
    <h1 class="text-center"><%= @college.name %>大学</h1>
    <% unless current_college == @college %>
    <%= render 'relationship/follow_button',college: @college %>
    <% end %>
</div>

