/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.small-user-img{
  width: 40%;
}
.dropdown-toggle{
  float: right;
  background-color: #343a40;
  margin: 0;
  padding: 0;
  border: 2px solid #343a40;
}
.navbar-right .nav-item{
  position: absolute;
  right: 0;
}
.dropdown-toggle::after{
  color: #fff;
}
.navbar-dark .navbar-nav .show > .nav-link{
  color: #000;
}
.navbar-right .nav-link{
  border-bottom: 0.5px solid #ddd;
}
.dropdown-menu{
  position: absolute;
  top: 40px;
}
.search-nav{
  padding: 2vh 0;
}
.tab{
  padding: 0 5%;
}
.nav a{
  float: left;
}