<li class="nav-item">
		<%= link_to("プロダクトを投稿","/products/new",class: "nav-link") %>
</li>
<li class="nav-item">
		<%= link_to("プロダクト一覧", products_path ,class: "nav-link") %>
</li>
<li class="nav-item">
		<a class="nav-link" href="#">エクスポート</a>
</li>
<li class="nav-item">
  <%= link_to 'サインアウト',destroy_college_session_path, method: :delete, class: "nav-link" %>
</li>