<li class="nav-item">
		<%= link_to("プロダクトを投稿","/products/new",class: "nav-link") %>
</li>
<!--ナビバー右寄せ-->
<div class="navbar-right">
  <li class="nav-item">
    <div class="dropdown">
    	<button class="dropdown-toggle" type="button" data-toggle="dropdown">
    		<%= image_tag college_avater_url(current_college),class: 'text-center img-circle small-user-img'%>
    		<span class="caret"></span>
    	</button>
    	<ul class="dropdown-menu" role="menu">
    	  <%= link_to("マイページ", college_path(current_college.id) ,class: "nav-link") %>
    	  <%= link_to 'サインアウト',destroy_college_session_path, method: :delete, class: "nav-link" %>
    	</ul>
    </div>
  </li>
</div>